.hidden{
    display: none;
}

h1{
    display: flex;
    justify-content: center;
}

.book-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-card{
    border: 1px solic #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    height: 300px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1), inset 0px 0px 5px rgba(0,0,0,0.1);
    background: linear-gradient(135deg, #f8f9fa 30%, #eaeaea 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.goal-card{
    border: 2px solid #4caf50;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    background: #e8f5e9;
    color: #2e7d32;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    text-align: center;
    bottom: 100px;
    left: 300px;

}

.goal-card h3{
    margin-top: 0;
    color: #388e3c;
}

.goal-input{
    margin: 10px 0;
    width: 135px;
}

.book-card h3{
    margin: 0;
    font-size: 18px;
}

.book-card p{
    margin: 8px 0;
}

.form-container{
    margin-top: 20px;
}


input{
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 200px;
}

button{
    display: block;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#new-book{
    margin-top: 10px;
    background-color: blueviolet;
}

.remove-button{
    margin-top: 15px;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    background-color: red;
}

.read-status-button{
    background-color: green;
    margin-top: 10px;
}

#read{
    display: inline;
    margin-left: -70px;
}

.status-read{
    color: rgb(33, 245, 33);
    font-weight: bold;
}
.status-not-read{
    color: red;
    font-weight: bold;
}

.emoji-button{
    font-size: 15px;
    cursor: pointer;
    margin-right: 5px;
}

.selected{
    outline:2px solid #000000;
}